# Framework principal
fastapi>=0.108.0
uvicorn[standard]>=0.24.0

# Base de datos
asyncpg>=0.29.0
sqlalchemy[asyncio]>=2.0.23
alembic>=1.13.1
psycopg2-binary>=2.9.9  # Cambiado de psycopg2 a psycopg2-binary con versión específica

# Redis
redis>=5.0.0

# Variables de entorno
python-dotenv>=1.0.0

# Validación de datos
pydantic>=2.5.2
pydantic-settings>=2.0.3

# Autenticación
passlib[bcrypt]>=1.7.4
python-jose[cryptography]>=3.3.0
python-jose==3.3.0
bcrypt==4.0.1

# Testing (opcional)
pytest>=7.4.3
httpx>=0.25.2

pydantic[email]

python-multipart
boto3>=1.30.0  # Para manejar S3 y otros servicios de AWS
aiofiles>=23.1.0  # Para manejar archivos de forma asíncrona

# para el modelo de detección de balas
ultralytics>=8.0.0
opencv-python>=4.5.0
Pillow>=8.3.0
numpy>=1.21.0

# reportes
reportlab == 4.0.7
matplotlib >= 3.5

resend
